p {
    font-family: "Modern", Verdana, sans-serif;
  }

h1 {
    font-family: "Chalkduster", fantasy;
}

h2 {
    font-family: "Big Caslon";
}

h3 {
    font-family: "Bookman Old Style";
}

h4 {
    font-family: "fantasy";
}